* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-main: #62ab00;
    --color-white: #ffffff;
    --color-black: #000000;

    --color-hover: #218838;
}

body {
    color: 15px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/* Header Top */
.header-top {
    margin: 15px 0;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-black)
}

.logo h1 span {
    color: var(--color-main);
}

.nav-menus ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menus ul li {
    display: inline-block;
    margin-left: 20px;
}

.list-menu li a {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--color-main);
    transition: color .3s ease;
    position: relative;
    display: block;
}

.list-menu li a:hover {
    color: var(--color-hover);
}

.list-menu li a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--color-main);
    bottom: 0;
    transition: width .4s ease;
}

.list-menu li:hover a::before {
    width: 100%;
}

.nav-menus ul li a .alert-danger ul {
    margin-bottom: 0;
}

/* Header Bottom */
.form-search {
    display: flex;
    width: 100%;
    position: relative;
}

.form-search input {
    padding: 10px 20px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.form-search button {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 21px;
    background-color: var(--color-main);
    outline: none;
    box-shadow: none;
    border: none;
}

.form-search button span {
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    line-height: normal;
}

.head-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.head-social li {
    display: inline-block;
    margin-left: 4px;
}

.head-social li a {
    height: 30px;
    display: block;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: var(--color-main);
    color: var(--color-white);
    transition: background .3s ease;
}

.head-social li a:hover {
    background: var(--color-hover);
}

.head-social li i {
    font-size: 17px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}

input:checked+.slider {
    background-color: var(--color-main);
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Banner */
.avatar {
    position: absolute;
    top: 2%;
    left: 2%;
}

.info-img img.img-main {
    border-radius: 8px;
    height: 300px;
    object-fit: cover;
}

.avatar img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.overlay {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-black) 100%); */
    background: linear-gradient(180deg, rgb(243 240 240 / 12%) 0%, var(--color-black) 100%);
    background-color: transparent !important;
    top: inherit;
    bottom: 0;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -1px;
    right: -1px;
    background-color: rgba(0, 0, 0, .15);
    -webkit-transition: opacity .6s, -webkit-transform .3s;
    transition: opacity .6s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .6s;
    transition: transform .3s, opacity .6s;
    transition: transform .3s, opacity .6s, -webkit-transform .3s;
    pointer-events: none;
    border-radius: 8px;
    opacity: 0;
}

.info-img:hover .overlay {
    opacity: 1;
}

.info-img h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 10px;
    color: black;
    font-weight: 600;
}

.info-text {
    position: absolute;
    bottom: 4%;
    left: 4%;
    opacity: 0;
    -webkit-transform: scale(0.9) translateZ(0);
    transform: scale(0.9) translateZ(0);
    transition: transform .3s, opacity .6s
}

.info-img:hover .info-text {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0) translateY(0) !important;
    /* transform: scale(1) translateZ(0) translateY(0) !important; */
    pointer-events: inherit;
}

.info-text h2 {
    font-size: 16px;
    color: var(--color-white);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
    color: var(--color-white);
}

/* content main */
.title-main {
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    border-left: 5px solid var(--color-main);
    padding-left: 10px;
}

.all-story {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.all-story .icon {
    position: absolute;
    top: 2%;
    right: 4%;
}

.all-story .info-img .img-main {
    height: 240px;
}

.story-text h2 {
    font-size: 16px;
    color: var(--color-black);
    margin: 10px;
    font-weight: 600;
}

/* Story */
.story-info h1 {
    font-size: 25px;
    font-weight: 600;
}

.story-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.story-info ul li {
    margin-bottom: 10px;
}

.img-story img {
    border-radius: 8px;
}

.story-desc h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border-left: 2px solid var(--color-main);
    padding-left: 10px;
    margin: 20px 0;
}

.story-desc p {
    margin: 0 0 20px 0;
    background: #f2f8ff;
    padding: 15px;
    border-radius: 8px;
}

.story-desc ul {
    height: 266px;
    overflow-y: scroll;
}

.story-desc ul::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.story-desc ul::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.story-desc ul::-webkit-scrollbar-thumb {
    background-color: var(--color-hover);
}

.story-desc li a {
    color: var(--color-black);
    transition: .3s ease;
}

.story-desc li a:hover {
    color: var(--color-hover);
    padding-left: 10px;
}

/* Footer */
footer h2 {
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer .list-menu li a {
    color: var(--color-black);
    font-size: 13px;
    display: inline-block;
}
